main {
    width: 70%;
    margin:auto;
    margin-bottom: 200px !important;
}

#imageAccueilMedecin {
    width: 300px;
}

#imageAccueilBloc {
    width: 500px;
}

.logoReseau {
    width: 30px;
}

.avatarProfil {
    width : 20px;
}

.fenetreCreationCompte{
    width: 400px;
    border: solid 1px;
    border-color: rgba(0,0,0, 24%);
    border-radius:20px;
    padding: 20px;
}

#boutonConnexion {
    display: flex;
    justify-content: space-between;
}

header {
    margin-bottom: 50px;
}

.centerDisplay{
    display: flex;
    flex-wrap: wrap;
}

.presentationCentre, .reservation{
    display : flex;
    flex-direction: column;
    align-items: center;
}