{% extends 'user/createAccount.html.twig' %}

{% block errorMessage %}
    <p style="color:rgb(255,0,0)">Votre mot de passe doit faire 10 caractères et contenir au moins une minuscule, 
    une majuscule, un chiffre et un caractère spécial.</p>
{% endblock %}