{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation de modification {% endblock %}

{% block body %}

<main class="d-flex align-items-center flex-column">
    <h3>Vos modifications ont bien été enregistrées.</h3>
    <a href="{{ path('userAccount') }}"><button type="button" class="btn btn-primary mt-3">Votre profil</button></a>
    <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary mt-3">Revenir à l'accueil</button></a>

</main>

{% endblock %}