{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation d'ajout de spécialité {% endblock %}

{% block body %}

<main class="d-flex align-items-center flex-column">
    <h3>La spécialité a bien été ajoutée.</h3>
    <a href="{{ path('specialties') }}"><button type="button" class="btn btn-primary mt-3">Ajouter une autre spécialité</button></a>
    <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary mt-3">Revenir à l'accueil</button></a>

</main>

{% endblock %}