{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation d'ajout {% endblock %}

{% block body %}

<main class="d-flex align-items-center flex-column">
    <h3>Le centre a bien été supprimé.</h3>
    <a href="{{ path('centers') }}"><button type="button" class="btn btn-primary mt-3">Consulter les centres</button></a>
    <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary mt-3">Revenir à l'accueil</button></a>

</main>

{% endblock %}