{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Confirmation de réservation{% endblock %}

{% block body %}
<main class="d-flex align-items-center">
<h2>Votre réservation a bien été enregistrée, vous recevrez un email de confirmation d'ici quelques minutes.</h2>
</main>

{% endblock %}