{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation de réservation{% endblock %}

{% block body %}
<main class="d-flex align-items-center">
<h2>Votre réservation a bien été enregistrée, vous pouvez en retrouver les détails dans votre espace personnel.</h2>
</main>

{% endblock %}