{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos centres {% endblock %}

{% block body %}

<main>
    <div class="centerDisplay">
        {% for center in JsonCenters %}
        <div class="card m-2" style="width: 30%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{center.name}}</h5>
                <p class="card-text">{{ center.city }} - {{ center.country }}</p>
                <a href="#" class="btn btn-primary">Consulter</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}