{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Conditions générales d'utilisation {% endblock %}

{% block body %}
<main>
    <h1>Conditions Générales d'utilisation du site Health North</h1>
    <p>Dernière mise à jour : 19/02/2024</p>
    <p>Bienvenue sur le site web de Health North (www.healthnorth.com). En accédant et en utilisant ce Site, vous acceptez les présentes Conditions Générales d'Utilisation ("CGU"). Veuillez les lire attentivement avant de naviguer sur le Site.</p>
    <h3>1. Utilisation du Site</h3>
    <ol>
        <li> Vous acceptez d'utiliser le Site conformément à toutes les lois applicables et aux présentes CGU.</li>
        <li>Vous êtes responsable de maintenir la confidentialité de votre compte et de votre mot de passe.</li>
        <li>Health North se réserve le droit de modifier, suspendre ou interrompre le Site, en tout ou en partie, à tout moment, sans préavis.</li>
    </ol>
    <h3>Contenu du Site</h3>
    <ol>
        <li>Le contenu du Site est fourni à titre informatif uniquement. Health North ne garantit pas l'exactitude, l'exhaustivité ou la pertinence du contenu.</li>
        <li>Vous reconnaissez que l'utilisation du contenu du Site est à vos propres risques. Health North ne sera pas responsable des dommages résultant de l'utilisation du contenu du Site.</li>
    </ol>
    <h3>Propriété Intellectuelle</h3>
    <ol>
        <li>Le contenu du Site, y compris mais sans s'y limiter, les textes, images, logos, et vidéos, est la propriété exclusive de Health North et est protégé par les lois sur la propriété intellectuelle.</li>
        <li>Vous vous engagez à ne pas reproduire, distribuer, modifier, transmettre, réutiliser, republier ou afficher le contenu du Site sans l'autorisation écrite préalable de Health North.</li>
    </ol>
    <h3>Liens vers des Sites Tiers</h3>
    <ol>
        <li>Le Site peut contenir des liens vers des sites web de tiers. Health North n'assume aucune responsabilité quant au contenu ou à la politique de confidentialité de ces sites.</li>
    </ol>
    <h3>Confidentialité</h3>
    <ol>
        <li>Les informations personnelles que vous fournissez sur le Site sont soumises à notre Politique de Confidentialité.</li>
    </ol>
    <h3>Limitation de Responsabilité</h3>
    <ol>
        <li>Dans toute la mesure permise par la loi, Health North décline toute responsabilité pour les dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de l'utilisation ou de l'incapacité d'utiliser le Site.</li>
    </ol>
    <h3>Dispositions Diverses</h3>
    <ol>
        <li>Les présentes CGU constituent l'intégralité de l'accord entre vous et Health North concernant l'utilisation du Site.</li>
        <li>Ces CGU sont régies par les lois en vigueur.</li>
    </ol>
    En utilisant le Site, vous acceptez ces CGU. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser le Site.

    Pour toute question concernant ces CGU, veuillez nous contacter à l'adresse suivante : contact@northhealth.com.
</main>

{% endblock %}