{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation d'ajout {% endblock %}

{% block body %}

<main class="d-flex align-items-center flex-column">
    <h3>Le centre {{ center.name }} a bien été ajouté.</h3>
    <a href="{{ path('addCenter') }}"><button type="button" class="btn btn-primary mt-3">Ajouter un autre centre</button></a>
    <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary mt-3">Revenir à l'accueil</button></a>

</main>

{% endblock %}