{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact {% endblock %}

{% block body %}
<main>
    <h1>Contactez-nous - Groupe Médical Health North</h1>

    
    <p>Adresse : Cantersteen, 1000 Bruxelles, Belgique</p>
    <p>Téléphone : +3246809953765</p>
    <p>Email : <a href="mailto:info@groupe-medical-nordique.com">info@groupe-medical-nordique.com</a></p>

    <p>Nous nous efforcerons de vous répondre dans les plus brefs délais.</p>

</main>

{% endblock %}