{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <main>
        <div class="d-flex justify-content-end">
            <a href="{{ path('centers') }}" class="btn btn-primary mb-5" role="button" aria-disabled="true">Prendre rendez-vous</a>
        </div>
        <div class="d-flex mb-5">
            <div class="me-5">
                <p>
                    La société HEALTH NORTH fait partie des leaders européens sur les prélèvements médicaux pour les particuliers.
                    Fondé en 1987 avec l'ouverture de trois laboratoires diagnostiques et d'imagerie au Danemark, le
                    groupe s'est rapidement développé en appliquant une stratégie d'acquisition de laboratoires
                    partenaires de qualité sur l'ensemble du continent européen.
                    Cette année, Health NORTH fusionne avec la grande entreprise d'hospitalisation privée, présente en
                    Suède, en Norvège, en Finlande, en France et au Royaume-Uni. Grâce à cette fusion, la structure
                    devient alors le leader incontesté des services diagnostiques et d'hospitalisation en Europe.
                    Health NORTH exploite son expertise en médecine de laboratoire, en imagerie et en pathologie pour
                    fournir des réponses aux questions diagnostiques dans toutes les disciplines médicales. Notre
                    catalogue de services couvre tous les aspects du diagnostic, notamment dans les domaines suivants :
                </p>
                <ul>
                    <li>Chirurgie ambulatoire</li>
                    <li>Hospitalisation</li>
                    <li>Imagerie médicale</li>
                    <li>Médecine reproductive et génétique</li>
                    <li>Cytopathologie et biologie médicale;</li>
                    <li>Tests spécialisés</li>
                </ul>
            </div>
            <div>
                <img src="img/alexandr-podvalny-tE7_jvK-_YU-unsplash.jpg" alt="image d'une médecin" id="imageAccueilMedecin">
            </div>
        </div>
        <div  class="d-flex">
            <img src="img/piron-guillaume-U4FyCp3-KzY-unsplash.jpg" alt="image d'une médecin" id="imageAccueilBloc">
            <div class="ms-5">
                <p>
                    La biologie médicale est une composante importante du système de santé. Elle concourt au
                    diagnostic, au dépistage, à l’évaluation des risques, au suivi des patients, etc.
                    Quelques chiffres :
                </p>
                <ul>
                    <li>Nombre d’employés : 12 000</li>
                    <li>Nombre de médecins : 5 000</li>
                    <li>Nombre de cliniques : 300</li>
                    <li>Nombre d’imagerie : 1 200</li>
                    <li>Chiffre d’affaires : plus de 50 milliards (annuel)</li>
                    <li>Nombre d’analyse : 8 millions/an</li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}