{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Erreur adresse Email {% endblock %}

{% block body %}
<main>
    <h3>Les adresses mail que vous avez fournis ne sont pas identiques, merci de réessayer</h3>
    <a href="{{ path('addDoctor') }}"><button type="button" class="btn btn-primary mt-3">Revenir</button></a>
</main>

{% endblock %}