{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Erreur d'authentification {% endblock %}

{% block body %}
<main>
    <div class="presentationCentre">
        <h3>Nous n'avons pas trouvé de compte correspondant ou le mot de passe est erroné, merci de réessayer.</h3>
        <a href="{{ path('homepage') }}" class="btn btn-primary mt-3">Revenir à l'accueil</a>
    </div>
</main>

{% endblock %}