{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Se connecter {% endblock %}

{% block body %}
<main>
    <h3>Vous êtes maintenant déconnecté, merci de votre visite et à bientôt !</h3>
</main>

{% endblock %}